<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
		<title></title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myNavbar">
			<div class="container">
				<a class="navbar-brand" href="index.html">Website</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarContent" aria-controls="myNavbarContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="myNavbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item" v-for="myNavbarItem in myNavbarItems">
							<a class="nav-link" href="index.html" :href="myNavbarItem.url">{{myNavbarItem.name}}</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="myProjectDropdown" href="#" role="button" data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">Mail</a>
							<div class="dropdown-menu" aria-labelledby="myProjectDropdown"  id="myDropdownContent">
								<a class="dropdown-item" :href="myDropdownItem.url" v-for="myDropdownItem in myDropdownItems">{{myDropdownItem.name}}</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script>
			var myNavbarContent = new Vue({
			  el: '#myNavbarContent',
			  data: {
			    myNavbarItems: [
			      { name: 'Baidu', url: 'https://www.baidu.com' },
			      { name: 'Bing', url: 'https://www.bing.com' },
			      { name: '360', url: 'https://www.so.com' }
			    ]
			  }
			})
			
			var myDropdownContent = new Vue({
			  el: '#myDropdownContent',
			  data: {
			    myDropdownItems: [
			      { name: '126', url: 'https://www.126.com/' },
			      { name: '163', url: 'https://www.163.com/'},
			      { name: 'Yeah', url: 'https://www.yeah.net/'}
			    ]
			  }
			})
		</script>
	</body>
</html>
