<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Bootstrap CSS -->
		<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
		<title>MyGGJ - 卧槽，我的咕咕机肿么了</title>
		<link type="text/css" rel="styleSheet" href="css/myggj.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myNavbar">
			<div class="container">
				<a class="navbar-brand" href="index.html">MyGGJ</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="navbar-nav mr-auto" id="myNavbarContent">
						<li class="nav-item" v-for="myNavbarItem in myNavbarItems">
							<a class="nav-link" href="index.html" :href="myNavbarItem.url">{{myNavbarItem.name}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" data-toggle="modal" data-target="#myAboutWebsiteModal">关于本站</a>
						</li>
					</ul>
					<div class="dropdown">
						<a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
							练手项目
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="myDropdownContent">
							<a class="dropdown-item" :href="myDropdownItem.url" v-for="myDropdownItem in myDropdownItems">{{myDropdownItem.name}}</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- 关于本站模态框 -->
		<div class="modal fade" id="myAboutWebsiteModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myAboutWebsiteModal">关于本站</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>本站仅为个人性质的咕咕机使用问题及解决方案收录站点。</p>
						<p>解决方案仅为个人见解，仅供参考，不代表官方。</p>
						<p>本站对操作过程中出现的任何损坏不承担责任。</p>
						<p>若有疑问，请加群或在下方提出。</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<!-- 图片轮播 -->
			<div id="myPictureCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myPictureCarousel" :data-slide-to="myPicCarousel.pcid-1" :class="{active: myPicCarousel.pcid == 1}"
					 v-for="myPicCarousel in myPicCarousels"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item" :class="{active: myPicCarousel.pcid == 1}" v-for="myPicCarousel in myPicCarousels">
						<img class="d-block w-100" :src="myPicCarousel.picurl">
					</div>
				</div>
				<a class="carousel-control-prev" href="#myPictureCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#myPictureCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- 常见问题列表 -->
			<div id="myGGJProblem">
				<ul class="list-group list-group-flush">
					<li class="list-group-item listContent" style="background-color:rgba(255,255,255,0);">
						<h1 class="text-center p-md-4">常见问题</h1>
						<h2 class="text-center p-md-4">（后端炸了，紧急修复中，预计2020年修复完成）</h1>
					</li>
					<li class="list-group-item listContent" style="background-color:rgba(255,255,255,0);" v-for="myProblem in myProblems">
						<h4 class="mt-3">{{myProblem.pid}}、{{myProblem.question}}<span class="badge badge-pill badge-danger" v-if="myProblem.is_hot == 1">热</span></h4>
						<p class="mt-3" v-html='myProblem.answer'></p>
					</li>
				</ul>
			</div>
		</div>
		<!-- 页脚 -->
		<div class="navbar-fixed-bottom">
			<div class="dropdown-divider"></div>
			<div class="container">
				<p id="time" class="p-3 text-center text-muted">©2019 By Pylory 当前时间{{Now.datetime.substring(0,16)}}</p>
			</div>
		</div>
		<!-- js -->
		<script type="text/javascript" src="js/Bmob-2.2.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- <script src="js/myggj.js"></script> -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script>
			Bmob.initialize("528ef28ba75c6243", "Pylory");

			// showNavbar
			var query = Bmob.Query('myggj_navbar');
			query.order("nid");
			query.find().then(res => {
				new Vue({
					el: '#myNavbarContent',
					data: {
						myNavbarItems: res
					}
				})
			}).catch(err => {
				console.log(err)
			})

			// showDropdown
			var query = Bmob.Query('myggj_dropdown');
			query.order("ddid");
			query.find().then(res => {
				new Vue({
					el: '#myDropdownContent',
					data: {
						myDropdownItems: res
					}
				})
			}).catch(err => {
				console.log(err)
			})

			// showPictureCarousel
			var query = Bmob.Query('myggj_pic_carousel');
			query.order("pcid");
			query.find().then(res => {
				new Vue({
					el: '#myPictureCarousel',
					data: {
						myPicCarousels: res
					}
				})
			}).catch(err => {
				console.log(err)
			})

			// showProblem
			var query = Bmob.Query('myggj_problem');
			query.order("pid");
			query.find().then(res => {
				new Vue({
					el: '#myGGJProblem',
					data: {
						myProblems: res
					}
				})
			}).catch(err => {
				console.log(err)
			})

			// showTime
			Bmob.timestamp().then(res => {
				new Vue({
					el: '#time',
					data: {
						Now: res
					}
				})
			}).catch(err => {
				console.log(err)
			})
		</script>
	</body>
</html>
